{% include 'adminheader.html' %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/exam2.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<center>
	<form method="post">
		{% if data['updater'] %}
		<h2>UPDATE SUBJECT {{data['sname']}}</h2>
		<table class="table" style="width: 800px">
			<tr>
				<th>SUBJECT NAME</th>
				<td align="center"><input type="text" name="upsubject" value="{{data['updater'][0]['subject_name']}}" ></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-primary"></td>
			</tr>
		</table>
		{% else %}
		<h2>MANAGE SUBJECTS IN COURSE {{data['cname']}}</h2>
		<table class="table" style="width: 800px">
			<tr>
				<th>SUBJECT NAME</th>
				<td align="center"><input type="text" name="subject" class="form-controll" required></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="ADD" class="btn btn-primary"></td>
			</tr>
		</table>
		{% endif %}
		{% if data['subjects'] %}
			<h2>SUBJECTS ADDED IN {{data['cname']}} </h2>
		<table class="table" style="width: 800px">
			<tr>
				<th>SUBJECT</th>
				<th>UPDATE</th>
				<th>DELETE</th>
			</tr>
			{% for row in data['subjects'] %}
			<tr>
				<td align="center">{{ row['subject_name'] }}</td>
				<td align="center"><a href="?action=update&sid={{ row['subject_id'] }}&cid={{data['cid']}}&cname={{data['cname']}}&sname={{ row['subject_name'] }}" class="btn btn-info">UPDATE</a></td>
				<td align="center"><a href="?action=delete&&sid={{ row['subject_id'] }}&cid={{data['cid']}}&cname={{data['cname']}}&sname={{ row['subject_name'] }}" class="btn btn-warning">DELETE</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</form>
</center>
						<!-- 	<p><a class="btn btn-primary btn-lg btn-learn" href="#">Take A Course</a> <a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play"></i> Watch Video</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</center>

{% include 'footer.html' %}