{% include 'adminheader.html' %} 

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/exam2.png); background-attachment: fixed;height: auto" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
	<center>
	<form method="post">
		{% if data['updater'] %}
		<h2>UPDATE COURSE {{data['updater'][0]['course_name']}}</h2>
		<table class="table" >
			<tr>
				<th>COURSE</th>
				<td><input type="text" name="upcourse" value="{{data['updater'][0]['course_name']}}" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-info"></td>
			</tr>
		</table>
		{% else %}
		<h1>ADD COURSE</h1>
		<table class="table" style="width: 600px">
			<tr>
				<th>COURSE</th>
				<td><input type="text" name="course" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="ADD" class="btn btn-info">
			</tr>
		</table>
		
		{% if data['courses'] %}
		<h2>COURSES ADDED IN OUR SYSTEM</h2>	
		<div style="height: 400px;width: 800px; overflow-y:scroll">
			{% for row in data['courses'] %}

			<table class="table" >
			<tr>
				<th>COURSE NAME  :</th>
				<td align="center">{{row['course_name']}}</td>
			</tr>
			<tr>
				<td colspan="2" align="center"><a href="?action=update&id={{row['course_id']}}" class="btn btn-primary">UPDATE</a></td>
			</tr>
			<tr>
			
				<td colspan="2" align="center"><a href="?action=delete&id={{row['course_id']}}" class="btn btn-danger">DELETE</a></td>
			</tr>	
			<tr>
				<td colspan="2" align="center"><a href="admin_manage_subjects?cid={{row['course_id']}}&cname={{row['course_name']}}" class="btn btn-warning">MANAGE SUBJECTS</a></td>
			</tr>	
		
			{% endfor %}
			</div>
			<br>
		</table>
		{% endif %}
		{% endif %}
	</form>
</center>
							<!-- <p><a class="btn btn-primary btn-lg btn-learn" href="#">Take A Course</a> <a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play"></i> Watch Video</a></p -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</center>



{% include 'footer.html' %}