{% include 'publicheader.html' %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/exam2.png); background-attachment: fixed;height: auto" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<center>
	<h1>LOGIN</h1>
	<form method="post">
		<table class="table" style="width: 400px">
			<tr>
				<th>USERNAME</th>
				<td><input type="text" name="uname" class="form-control"></td>
			</tr>
			<tr>
				<th>PASSWORD</th>
				<td><input type="password" name="password" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="LOGIN" class="btn btn-primary"></td>
			</tr>
			<tr>
				<td colspan="2" align="center" style="background-color: white"><a href="preg" >New Parent? Click Here To Register</a></td>
			</tr>
		</table>
		</table>
	</form>
</center>
							<!-- <p><a class="btn btn-primary btn-lg btn-learn" href="#">Take A Course</a> <a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play"></i> Watch Video</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


{% include 'footer.html' %}