{% include 'parentheader.html' %}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/exam3.jpg); background-attachment: fixed;height: auto" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12  text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
<center>
	<form method='post'>
		{% if data['updater'] %}
		<h1>UPDATE DETAILS OF {{data['updater'][0]['first_name']}}</h1>
			<table class="table" style="width: 600px">
			<tr>
				<th>FIRST NAME</th>
				<td><input type="text" name="upfname" value="{{data['updater'][0]['first_name']}}" class="form-control"></td>
			</tr>
			<tr>
				<th>LAST NAME</th>
				<td><input type="text" name="uplname" value="{{data['updater'][0]['last_name']}}" class="form-control"></td>
			</tr>
			<tr>
				<th>DATE OF BIRTH</th>
				<td><input type="date" name="update" value="{{data['updater'][0]['dob']}}" class="form-control"></td>
			</tr>
			<tr>
				<th>PHONE</th>
				<td><input type="text" name="upph" value="{{data['updater'][0]['phone']}}" class="form-control"></td>
			</tr>
			<tr>
				<th>EMAIL</th>
				<td><input type="text" name="upemail" value="{{data['updater'][0]['email']}}" class="form-control"></td>
			</tr>
			<tr>
				<th>COURSE</th>
				<td>
					<select name="course" class="form-control">
					{% for row in data['course'] %}
						{% if row['course_id']==data['updater'][0]['course_id'] %}
							<option value="row['course_id']" selected>{{row['course_name']}}</option>
						{% else %}
							<option value="{{row['course_id']}}">{{row['course_name']}}</option>
						{% endif %}
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="update" value="UPDATE" class="btn btn-primary"></td>
			</tr>
		</table>
		{% else %}
		<h1>MANAGE YOUR CHILD ACCOUNT</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>FIRST NAME</th>
			<td><input type="text" name="fname" class="form-control" required></td>
		</tr>
		<tr>
			<th>LAST NAME</th>
			<td><input type="text" name="lname" class="form-control" required></td>
		</tr>
		<tr>
			<th>DATE OF BIRTH</th>
			<td><input type="date" name="dob" class="form-control" required></td>
		</tr>
		<tr>
			<th>PHONE</th>
			<td><input type="text" name="ph" class="form-control" required pattern="[0-9]{10}"></td>
		</tr>
		<tr>
			<th>EMAIL</th>
			<td><input type="email" name="email" class="form-control"></td>
		</tr>
		<tr>
			<th>SELECT COURSE</th>
			<td>
				<select name="course" class="form-control" required>
					<option>-select-</option>
					{% for row in data['course'] %}
					<option value="{{row['course_id']}}">{{row['course_name']}}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<th>USERNAME</th>
			<td><input type="text" name="uname" class="form-control" required></td>
		</tr>
		<tr>
			<th>PASSWORD</th>
			<td><input type="password" name="password" class="form-control" required  minlength="8" title="password must be atleast 8 charecter"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="ADD" class="btn btn-info"></td>
		</tr>
	</table>
	{% endif %}
	{% if data['student'] %}
	<h1>MY CHILDS</h1>
	<table class="table" style="width: 1200px">
		<tr>
			<th>CHILD NAME</th>
			<th>DATE OF BIRTH</th>
			<th>PHONE</th>
			<th>EMAIL</th>
			<th>SELECTED COURSE</th>
			<th>UPDATE</th>
			<th>DELETE</th>
		</tr>
	{% for row in data['student'] %}
	<tr>
		<td>{{row['first_name']}} {{row['last_name']}}</td>
		<td>{{row['dob']}}</td>
		<td>{{row['phone']}}</td>
		<td>{{row['email']}}</td>
		<td>{{row['course_name']}}</td>
		<td><a href="?action=update&id={{row['student_id']}}" class="btn btn-warning">UPDATE</a></td>
		<td><a href="?action=delete&id={{row['student_id']}}" class="btn btn-danger">DELETE</a></td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}
	</form>

</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</center>

{% include 'footer.html' %}